extends layout 

block content 
    .container 
        header.header 
            h2 Período #{periodo.id}

        .w3-container 
            ul.w3-ul(style="width: 50%;")
                li.w3-sand 
                    b Nome: #{periodo.Designacao}
                li.w3-sand
                    b Id: #{periodo.id}
        
        footer.footer 
            address
                span Gerado por a100696::EngWeb2024 em #{data} - [
                a(href="/periodos") Voltar
                span ]