doctype html
html
  head
    title Plataforma de Gestão e Disponibilização de Recursos Educativos
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/javascripts/jquery-3.7.1.min.js")
    script(src="/javascripts/jquery.modal.min.js")
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    script(src="/javascripts/fileManager.js")
  body
    block content
