div.w3-bar.w3-black.navbar
    a(href="/", class="w3-bar-item w3-button") Início
    a(href="/posts", class="w3-bar-item w3-button") Posts
    a(href="/recursos", class="w3-bar-item w3-button") Recursos
    if(!logado)
        a(href="/registar", class="w3-bar-item w3-button w3-right") Registar
    
    if(!logado)
        a(href="/login", class="w3-bar-item w3-button w3-right") Login

    if(logado)
        a(href="/logout", class="w3-bar-item w3-button w3-right") Logout